<div id="<%= id %>" class="note-preview">
    <h3 id="<%= id %>-title">
        <%= title %>
    </h3>
    <p id="<%= id %>-updationTime">
        <%= updationTime %>
    </p>
    <button onclick="editNote('<%= id %>')" id="<%= id %>-edit-button">Update Note</button>
</div>