<% if(description.length> 20) {%>
    <div style="display:flex;justify-content: space-between;width: 100%;align-items: flex-start;">
        <p id="<%= id %>-description" sty>
            <%= description.slice(0,20) %><span id="dots">...</span><span id="more">
                    <%= description.slice(20) %>
                </span>
        </p>
    
        <button onclick="readMore('<%= id %>')" id="<%= id %>-readMore">Read more</button>
    </div>

    <% } else { %>

        <p id="<%= id %>-description">
            <%= description %>
        </p>

        <% } %>